---
layout: archive
title: "Portfolio (under construction)"
permalink: /portfolio/
author_profile: true
---

<p>My wife and I enjoy traveling and taking road trips. We have explored five continents, 
  with Antarctica being our final destination, and have visited XX countries.</p>

<p>We have traveled to 46 out of the 50 U.S. states and Washington D.C. 
  The remaining states on our bucket list are Alaska, Arkansas, Nevada, North Dakota, and South Carolina.</p>

<p>In our home country of China, we have visited XX of the 34 provinces and SARs, 
  including a recent trip to Tibet. Our future travel plans include visiting 
  Xinjiang, Fujian, Macau, and Taiwan.</p>

<p>I am always facinated by the wonderful lives enjoyed by different parts of the world, 
  despite so many differences in their economic development, education level, social norm, 
  and culture. If you're interested in those stories, I would encourage you to go out there and visit
  those places you have thought about. You'll find them to be amazing.
  
</p>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
