---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<p>My wife and I enjoy traveling and taking road trips. We have explored five continents, with Antarctica being our final destination, and have visited XX countries.</p>

<p>In the U.S., we have traveled to 46 out of the 50 states and Washington D.C. The remaining states on our bucket list are Alaska, Arkansas, Nevada, North Dakota, and South Carolina.</p>

<p>In our home country of China, we have visited XX provinces, including a recent trip to Tibet. Our future travel plans include visiting Xinjiang, Fujian, Macau, and Taiwan.</p>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
